.OurProducts {
  display: flex;
  flex-wrap: wrap;
  border: 25px solid #d8382a;
  background-color: #d8382a;
  border-radius: 40px;
  margin: 3% 10%;
  width: 75%;
  outline-offset: -20px;
  outline: 5px solid #e3766d;
}
.img-hov {
  display: none;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 99;
  width: 15%;
}
.OurProducts .Products {
  width: 50%;
  height: 14rem;
}
.img-main2,
.img-main1,
.img-main3,
.img-main4 {
  width: calc(100% - (20px * 2));
  height: calc(100% - (20px * 2));
  margin: 20px;

  border: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 30px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.Products:hover .img-hov {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .OurProducts {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .OurProducts .Products {
    width: 95%;
    margin: 8px 0px;
    align-self: center;
  }
}
