.DemoProduct {
  display: flex;
  flex-direction: column;
}
.demoImg {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}
.demoImg img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border: 25px solid #efeeee;
  border-radius: 40px;
  margin: 2%;
  outline-offset: -29px;
  outline: 5px solid #d1d1d1;
  box-shadow: 11px 10px 9px -3px rgba(0, 0, 0, 25%) inset;
}
#title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
@media only screen and (max-width: 768px) {
  .DemoProduct {
    display: block;
    text-align: center;
    width: 100%;
  }
  .demoImg img {
    width: 100%;
    height: auto;
  }
  .demoImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: auto;
  }
  .demoImg img {
    border: 15px solid #efeeee;
    border-radius: 27px;
    margin: 2%;
    outline-offset: -15px;
    outline: 5px solid #d1d1d1;
  }
}
