/* .contactform {
  height: 100%;
  width: 100%;
  background-color: #c53838;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
} */

.contactform-outer1 {
  border: 25px solid #56d0eb;
  border-radius: 40px;
  padding: 2% 15%;
  background-color: #56d0eb;
  outline-offset: -18px;
  outline: 5px solid #7fdbef;
}

.contactform-inner1 {
  background-color: #f9e0de;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.container-inner-211 {
  height: 100%;
  width: 40%;
  background-color: #56d0eb;
  z-index: 1;
  border-radius: 25px;
  padding: 4%;
  font-size: 23px;
  box-shadow: 20px 20px 20px 0px rgb(0 0 0 / 25%) inset;
  border: 5px solid #56d0eb;
}
#TecoNicoimg {
  justify-content: center;
  width: 70%;
}

.container-inner-221 {
  width: 50%;
}

.input-div {
  display: flex;
  justify-content: flex-start;
}
::placeholder {
  color: #574747;
}
.input-div > input {
  height: 20%;
  border-radius: 20px;
  margin: 0 6% 6% 7%;
  padding: 2% 2%;
  box-shadow: 6px 6px 7px 0px rgb(0 0 0 / 25%) inset;
  color: #574747;
  background-color: #f9e0de;
  font-size: 20px;
}

.name {
  width: 50%;
}

.email {
  width: 100%;
}

.msg {
  margin: 1% 7%;
  font-size: 20px;
  border-radius: 20px;

  height: 100px;
  padding: 2% 2%;
  box-shadow: 6px 6px 7px 0px rgb(0 0 0 / 25%) inset;
  color: #574747;
  background-color: #f9e0de;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-container {
  display: flex;
  justify-content: space-around;
}
.btn {
  margin-top: 10%;

  font-size: 25px;
  border-radius: 15px;
  background-color: #4860ca;
  color: white;

  cursor: pointer;
  border: 5px solid #84a3e3;

  box-shadow: -8px -7px 7px 0px rgb(255 255 255 / 25%) inset;
}

.contact-head {
  text-align: center;
  color: white;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 500;
}

h3,
p {
  color: white;
  font-size: 16px;
}
.icon-section {
  display: flex;
}
.address-info {
  color: white;
}
.email-info {
  color: white;
}
.phone-info {
  color: white;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
@media only screen and (max-width: 900px) {
  .contactform-outer {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .contactform-inner {
    display: block;
  }
  .container-inner-21 {
    width: 100%;
  }
  .input-div > input {
    margin-top: 12px;
  }
  .container-inner-22 {
    width: 100%;
  }
}
