body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  justify-content: center;
}
*{
  box-sizing: border-box;
}
 
.demo_video{
  width: 100%;
  display: flex;
}
#demo_video{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border-radius: 30px;
  
  box-shadow:11px 14px 8px 0 rgb(0 0 0 / 20%), 5px 5px 20px 20px rgb(0 0 0 / 19%);
}
#myVideo {
  position: relative;
  /* right: 0;
  bottom: 0; */
  width: 100%; 
  height: 100%;
  filter: brightness(0.5);
}
 /* .drowsiness-bg{
  background-image: linear-gradient(to left, rgba(255,0,0,0),#009587ed), url(../../../Assets/drowsiness/Asset4.png);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}  */
.drowsiness-text{
  position: absolute;
  bottom: 7px;
  left: 20px;
    text-shadow: 2px 2px 4px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}
.drowsiness-text p{
  font-size: 30px;
  font-weight: bold;
  
  font-family: 'Montserrat';
}
.drowsiness-text h1{
  font-size: 4em;
  text-shadow: 2px 2px 4px #000000;
}
.know-button{
  background-color: transparent;
  border-radius: 10px ;
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat';
}
.drowsiness-bg2{
 display: flex;
 justify-content: space-evenly;
 padding: 50px;
background-image: -webkit-linear-gradient(30deg, rgb(0, 129, 119 ,1)  50%, #ffffff 50%);
}
.drowsiness-text1{
  padding: 30px;
  margin-left: 10%;
  background-color:white;
  box-shadow:8px 17px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.drowsiness-text2{
  background-color:white;
  box-shadow:8px 17px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); 
}

.drowsiness-text2{
  padding: 30px;
  width: 90%;
margin-left: 10%;
}


.drowsiness-text2 h1 , .drowsiness-text1 h1{
  /* text-shadow: 5px 4px 20px #000000; */
font-weight: bolder;
}



.tweet-img{
  display: flex;
  justify-content: center;
  
}


.drowsiness-bg3{
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
 background-image: -webkit-linear-gradient(30deg, rgb(0, 129, 119 ,1) 50%, #ffffff 50%);
}
 .img1{
  /* position: absolute; */
  width: 100%;
  /* left: 16%; */
  box-shadow:8px 17px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
 }
 .img2{
  position: relative;
  bottom: -3rem;
  right: -83%;
 }

 .hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
       -o-transform: rotate(120deg);
          transform: rotate(120deg);
  }
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
  }
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../../../Assets/drowsiness/Asset3.png);
  background-size: cover;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
          box-shadow: -4px 6px 10px rgba(0,0,0,0.8); 
  }

  .hexagon-in3 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../../Assets/drowsiness/indian_truck.png);
    background-size: cover;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
            box-shadow: -4px 6px 10px rgba(0,0,0,0.8); 
    }

.hexagon1 {
  width: 250rem;
  }
  .hexagon2{
    width: 60%;
  }

  /* dvdvd */

  .Quote{
    background-color: #009587ed;
    color: #ffffff;
    display: flex;
    max-width: 40em;
    padding: 20px 24px 20px 0;
    border-radius: 55px;
    position: relative;
    bottom: 30px;
   margin: 0 auto -50px auto;
    box-shadow: -4px 6px 10px rgba(0,0,0,0.8); 
  }
  .Quote_media{
    position: relative;
    width:25%;
    flex-shrink: 0;
    margin-left: -30px;
  }

  .Quote_avatar{
    border-radius: 40%;
    transform: translateZ(0);
  }
  .Quote_avatar img{
    mix-blend-mode: multiply;
    filter: drop-shadow(2px 4px 6px black);
  }
  .fit_media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Quote_body{
    position: relative;
    margin-left: 44px;
    box-sizing: border-box;
  }
  .Quote_content{
    line-height: 1.5;
  }
  .Quote_author{
    opacity: .8;
    display: flex;
    justify-content: end;
  }

  .drowsiness-hid{
    display: none;
  }
  .img3 img{
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
  }
  @media only screen and (max-width: 900px) {
    .drowsiness-text h1{
      font-size: 2em;
    }
    .drowsiness-text p{
      font-size: 20px;
    }
    .drowsiness-text{
      top: 35vh;
      position: relative;
      display: none;
    }
    .drowsiness-text1{
      background-color: transparent;
      border-radius: 10px;
      margin-left: 0;
      margin-bottom: 10px;
    }
    .drowsiness-text2{
      margin: 0;
      border-radius: 10px;
      width: 100%;
      background-color: transparent;
    }
    .drowsiness-bg2{
    display: block;
    padding: 10px;
    text-align: center;
    }
    .drowsiness-hid{
      display: block;
    }
    .drowsiness-hid img{
      width: 100%;
      border-radius: 50px;
      filter: drop-shadow(2px 4px 6px black);
    }
    .Quote{
      display: block;
      margin: 10px auto;
      position: static;
    }
    .Quote_media{
      display: flex;
      margin: 0 auto ;
      width: 35%;
      justify-content: center;
    }
    .fit_media{
      position: relative;
    }
    .img2{
      display: none;
    }
    .img1{
      width: 100%;
      position: static;
    }
    .drowsiness-bg3{
      padding: 30px;
    }

  }