body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title h1 {
  color: #052663;
  font-size: 2.5em;
  margin-bottom: -22px;
}
.title {
  margin-right: 10%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeAutomation {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 25px solid #d8382a;
  background-color: #d8382a;
  border-radius: 40px;
  outline-offset: -20px;
  outline: 5px solid #e3766d;
}

.what {
  height: auto;
  margin: 15px 180px 40px 180px;
}
#question {
  font-size: 25px;
}
#ans {
  font-size: 12px;
}

@media only screen and (max-width: 1260px) {
  .container {
    display: block;
    text-align: center;
    padding: 50px;
    width: 100%;
  }
  .homeAutomation {
    display: block;
    text-align: center;
    padding: 50px;
    width: 100%;
  }
  .title {
    margin-right: 0;
    padding: 40px;
  }
  .what {
    height: auto;
    margin: auto;
  }
  .smart_house img {
    margin: -20px;
  }
}
