.navbar-dark .navbar-nav .nav-link {
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bg-img {
  background-image: url("../../Assets/pg1.png");
  min-height: 40em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar-nav {
  /* overflow: hidden; */
  margin-left: auto;
}
.bg-img {
  max-width: 100% !important;
  height: auto !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(0 0 0 / 94%);
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin-left: 0;
  }
}

/* hambirger */
.navbar-dark .navbar-toggler-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/151/151917.png");
}
