@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", monospace;
}

.btn {
  background-color: #db0000;
  border-color: #db0000;
  border-radius: 5%;
  height: 30px;
  width: 70px;
}
body {
  background-color: black;
  color: white;
}
/* nav  */
nav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100vw;
  /* background-color: black;
  opacity: 80%; */
}

nav ul {
  margin-top: 10px;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li .logo {
  width: 200px;
}

#checkbox {
  display: none;
}

#nav-icon {
  color: white;
  display: none;
}

@media screen and (max-width: 1000px) {
  #nav-icon {
    position: absolute;
    right:15px;
    top:15px;
    display: flex;

    }

  nav ul{
    display: none;
  }
  #checkbox:checked ~ul{
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 5vh;
    justify-content: space-evenly;
  }
  .logo-li{
    position: fixed;
    top: 10px;
    left: 5px;
  }
}

/* nav  */

.video {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  /* height: 100vh; */
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #db0000;
  /* text-decoration: underline 5px #db0000 4px; */
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
  color: #db0000;
}

@media screen  and (max-width:1000px) {
  .video{
    top:40px;
  }
}

/* Product  */

/* product  */
.product {
  margin-top:100vh;
}


/* section  */

.section {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  background-color: black;
  color: white;
}

.section h1 {
  color: #db0000;
  font-size: 60px;
}

.block {
  display: inline;
  width: 48%;
  padding-top: 100px; 
}

@media screen  and (max-width:1000px) {
  .section{
    flex-direction: column;
    margin:10px;
  }
  .block{
    display: block;
    width:90%;
    margin: auto;
  }
  .product{
    width:100vw;
  }
  .block h1 ,h2{
    text-align: center;
  }
}
/* about  */

.about h1 {
  text-align: center;
}

.about p {
  text-align: center;
  font-size: 20px;
}

/* about  */

.block h2 {
  line-height: 70px;
}

/* section  */

/* product section  */

.product-video {
  width: 100%;
  border-radius: 2%;
}

/* card  */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 17vw;
}
.card-item {
  background-color: black;
  height: 35vh;
  width: 20vw;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:1400px){
  .card{
    flex-direction: column;
    align-items: center;
  }
  .card-item{
    width:350px;
    height: 350px;
  }
}
.card-item p {
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

#mission {
  height: 100%;
  padding: 5vh;
}

#mission h1 {
  color: #db0000;
  font-size: 60px;
}
.mission-card {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
}

@media screen  and (max-width:1000px) {
  .mission-card{
    flex-direction: column;
    align-items: center;
  }
  #mission{
    height: 100%;
  }
}

/* card  */

/* preview video  */

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

.vid {
  border-radius: 5%;
}

@media screen  and (max-width:1000px){
  .preview{
    width:100%;
  }
  .vid{
    width: 90%;
  }
}
/* preview video  */

/* Team  */

#home-team {
  height:100%;
  padding: 5vh;
}

#members-home {
  width: 80vw;
  margin: auto;
  /* background-color: black; */
  height: 100%;
  display: flex;
  flex-direction: row;
}

.member {
  display: inline;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.member img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  margin: 5px;
}

@media screen and (max-width:1000px){
  #members-home{
    flex-direction: column;
  } 
  .member img{
    max-width: 200px;
    max-height: 200px;
  }
  .member{
    display: flex;
    justify-content: center;
  }

}

/* Team  */

/* Footer  */
.footer {
  height: 40vh;
  background-color: black;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
}

@media screen and (max-width:1000px) {
  .footer{
    flex-direction: column;
    justify-content: normal;
    align-items:center ;
    height: 100%;
  }
  .footer img{
    margin-left: 0;
  }
  .footer h3{
    padding-left: 0;
    width: 100%;
  }
  .footer .links{
    width: 100%;
  }

  .footer .logo{
    width:80vw;
  }
}

.footer .logo {
  display: flex;
  flex-direction: column;
}

.footer img {
  margin-top: 1vh;
  margin-left: 5vw;
  /* padding-left: 6vw; */
  /* display: inline; */
}

.footer h3 {
  color: white;
  padding-top: 2vh;
  padding-left: 6vw;
  font-size: 50px;
  /* display: inline; */
}

.footer .links {
  width: auto;
  padding-top: 6vh;
}

.links li {
  list-style: none;
  line-height: 5vh;
  text-decoration: underline red;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: #db0000;
}

.contact h2 {
  padding-top: 6vh;
}
/* .links{
      padding-left:10vw;
  } */
.contact p {
  font-size: 20px;
  color: #db0000;
}
.logo {
  width: 400px;
}

/* Footer  */

/* our products  */
.our-products {
  display: inline-flex;
  flex-direction: column;
}

.our-products h2 {
  color: #db0000;
  line-height: normal;
}

/* Our Products  */

.ha {
  width: 100%;
}

.flip {
  display: inline-flex;
  width: 280px;
  height: 150px;
  background-color: aliceblue;
  margin: 4px;
}

.flip img {
  width: 280px;
}

/* .flip:hover{
    animation-name: flipper;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-duration: 1s;
} */

@keyframes flipper {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360);
  }
}

.space {
  height: 200px;
}

/* Join Us  */

.join-us {
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#submit-join {
  display: block;
}

/* Family  */

.family h2 {
  padding-top: 7vh;
}

.family .card-item {
  animation-name: rotator;
  /* animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-timing-function: ease-in-out; */
}

.card-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* Family  */


/* blog  */

.blog{
  height: 100vh;
}